/* 播放器 */

div.app-container {
    position: fixed;
    bottom: -45px;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    transition: all 0.5s;
    
}

div.player {
    position: relative;
    height: 50px;
    width: 980px;
    margin: auto;

    transition: width 0.15s;
}

/* 缩小 */
div.playerSwitch {
    position: absolute;
    top: 2px;
    right: -220px;
    color: #9b9b9b;
}

i#min {
    display: none;
}


/* 专辑图片 */
div.album-pic {
    position: absolute;
    top: 5px;
    left: 200px;

    width: 40px;
    height: 40px;

    border-radius: 5px;

    background-size: contain;
    
}


/* 音乐信息 */
div.info {
    position: absolute;
    top: 5px;
    left: 250px;

}
div.info-title {
    display: inline;

    color: #e8e8e8
}
div.info-songer {
    display: inline;

    color: #9b9b9b;
    font-size: 0.8em;
}


/* 控制区 */
div.controls {
    position: absolute;
    top: -3px;
    left: 60px;
    color: white;
    
}

div.play {
    display: inline-block;
    
    margin: auto 10px;

    font-size: 3em;
    text-align: center;
    color: white;
}
div.previous,
div.next {
    display: inline-block;
    
    vertical-align: 18%;
    font-size: 1.6em;
    color: #9b9b9b;
}

div.list {
    position: absolute;
    top: 15px;
    right: -720px;

    font-size: 1.6em;
    color: #9b9b9b;
}

div.lrc {
    position: absolute;
    top: 13px;
    right: -760px;
    font-size: 1.6em;
    color: #9b9b9b;
}


/* 音频可视化 */
div.cdiv {
    position: absolute;
    left: 250px;
    top: 30px;

    width: 500px;
    height: 5px;
    
    border-radius: 5px;

    background-color: black;

    overflow: hidden;
}

div.progress {
    height: 6px;

    background-color: #a40000;

    border-radius: 5px;
}

#canvas {
    display: none;
    position: absolute;
    bottom: 0px;

    width: 375px;
    height: 80px;
}

/* CD */
div.de {
    position: absolute;
    top: -550px;
    left: 30%;
    width: 600px;
    margin: auto;
}

div.bigCD {
    position: relative;
    height: 600px;
    width: 600px;
    border-radius: 400px;
    border: 2px solid rgba( 200, 200, 200, 0.6);
    background-color: #2b2b2b;
    /* box-shadow: 3px 3px 5px darkgray; */

    animation-name: cdRot;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cdRot {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}



div.bigCD img {
    position: absolute;
    border-radius: 400px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    height: 400px;
    
    border: 50px solid black;
}

div.hole {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;

    width: 50px;
    height: 50px;
    border: 5px solid rgba( 100, 100, 100, 0.8);
    border-radius: 50px;
    background-color: #d2d5d6;
}

#cao {
    position: absolute;
    z-index: 888;
    top: -30px;
    right: 20px;
    transform: rotate(-60deg);
    transform-origin: 80% 10%;
    transition: all 0.5s;
}


/* 搜索框 */
#search {
    background-color: #2b2b2b;

    font-size: 2em;

    color: #999;
}

#searchDiv i {
    color: #999;
}

/* 播放列表 */
.albumContainer {

    background-color: #2b2b2b;

    color: #999;
}
.albumHead {

    color: #999;
    background-color: #2b2b2b;

}

#songList tr:nth-child(odd) {
    background-color: #3b3b3b;
}

/* 歌词 */
.music-lyric {
    

    background-color: #2b2b2b;

    color: #999;

}
.music-lyric li.active {
    color: #4b4b4b;
}

/* 评论按钮 */
div.commentBtn {
    position: absolute;
    top: 15px;
    right: -800px;
    font-size: 1.6em;
    color: #9b9b9b;
}

/* 播放器锁定 */
div.lock {
    width: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #2b2b2b;
    position: absolute;
    right: 0;
    top: -20px;
    
    
}
