
body {
    background-color: #d2d5d6;
    font: 14px/1.5 微软雅黑, sans-serif;
}




/* 歌词 */
.music-lyric {
    display: none;
    position: absolute;
    right: 100px;
    top: 50px;

    width: 300px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px #999;

    background-color: #eef1f2;

    color: black;

    overflow: hidden;
}

.music-lyric ul{
    position: relative;
    
    padding: 0;
    
    list-style: none;

    transition: all 1s;
}

.music-lyric li{
    position: relative;

	padding: 5px 0 2px 0;
	
	text-align: center;
    font-size: 12px ;
    
	transition: all 1s;
}
.music-lyric li.active {
  font-size: 13px;
  color: #d2d5d6;
}


/* 播放列表 */
.album {
    display: none;
    position: absolute;
    left: 50px;
    top: 50px;
}

.albumContainer {
    height: 400px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 10px 10px #999;

    background-color: #eef1f2;

    color: black;

    overflow: scroll;
}

.albumHead {
    position: relative;
    height: 30px;
    width: 308px;
    margin-bottom: 10px;

    background-color: #eef1f2;
    box-shadow: 0px 10px 10px #999;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    text-align: center;
    line-height: 30px;
}

#random {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 1.6em
}

#songList {
    width: 308px;
}

#songList tr {
    cursor: pointer;
}

#songList tr:nth-child(odd) {
    background-color: #d2d5d6;
}


#songList tr.on {
    background-color: gray;
}

#songList td {
    padding-left: 10px;
    padding-right: 10px;

    height: 30px;
}




/* 搜索框 */
#searchDiv {
    position: absolute;
    bottom: 150px;
    left: 20px;
}

#search {
    width: 300px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 10px 10px #999;
    
    background-color: #eef1f2;

    font-size: 2em;
}

#searchDiv i {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 2em;
}

div.artistlist {

}


